ul.team.icon
                {
                    margin-top: 25px;
                }
                
                
                ul.team-icon li
                {
                    display: inline-block;
                    margin: 0 3px;
                    -webkit-transition:all 0.25s ease-in-out;
                    -moz-transition: all 0.25s ease-in-out;
                    -o-transition: all 0.25s ease-in-out;
                    -ms-transition:all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
                }
                
                ul.team-icon li a{
                    margin: 0;
                    display: inline-block;
                    padding: 8px 8px;
                    height: 34px;
                    width: 34px;
                    font-size: 18px;
                    line-height: 18px;
                    background-color: #fff;
                    border-radius: 50%;
                    color:#000;
                }
                ul.team-icon li a.twitter
                {
                    background-color: #4099ff;
                }
                ul.team-icon li a.instagram
                {
                    background-color: #fccc63;
                }
                ul.team-icon li a.facebook
                {
                    background-color: #316FF6;
                }
                ul.team-icon li a.linkedin
                {
                    background-color: #008aff;
                }